.repo {
  border-bottom: 1px solid #c3c0c5;
  padding: 2.3rem 0 3.05rem 0;
  font-size: 1.25rem;

  a {
    color: #ec174d;
  }

  &__title,
  &__permissions,
  &__description,
  &__information {
    padding-bottom: 0.5rem;
  }
  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #939393;
    font-size: 1.5rem;

    p {
      flex-basis: 127px;
      text-align: right;
    }
  }

  &__permissions {
    color: #939393;
    // font-size: 1.25rem;
  }
}
