@import 'globalStyles/variables';

html {
  height: 100%;
  // font-size: calc(0.5em + 0.5vw);
}

@media screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  // display: flex;
}

#root {
  height: 100vh;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 957px;

  &__big {
    max-width: 1111px;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.disabled {
  color: #939393;
  pointer-events: none;
  cursor: default;
  cursor: not-allowed;
}
