.languages {
  padding-bottom: 3.3rem;

  &__title {
    font-weight: bold;
    font-size: 1.75rem;
    padding-bottom: 1.6rem;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
