.languages {
  padding-bottom: 3.3rem;

  &__title {
    font-weight: bold;
    font-size: 1.75rem;
    padding-bottom: 1.6rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 1rem;
  }
}
